a { color:#336; cursor:pointer; }
body { background: url(img/reuleaux.svg) no-repeat center fixed; background-size: cover; font-family:sans-serif; }

header, main { width: 800px; margin: auto; }
nav { width: 400px; float:left; }

.audio  { margin:5px; } .playinfo { display: flex; } .info { flex: 33.33%; }
.bubble { background-color:#fff; border:1px solid #888; border-radius:10px; margin:5px; padding:5px; }
.cover  { max-height:100px; max-width:100px; min-height:100px; min-width:100px; vertical-align:middle; }
.image  { float:left; padding:10px !important; vertical-align:middle; }
.artist { font-weight:bold; margin-top:10px; }
.album  { font-size:smaller; }
.title  { font-size:larger; font-weight:bold; margin-top:10px; }
.nobr   { white-space:pre-wrap; }
.cur { color:#844 !important; }
.fla { color:#648; }
.mp3 { color:#468; }
.ogg { color:#684; }

